body {
  position: relative;
  font-family: openSansLigth;
  background-color: rgba(91, 97, 119, 0.945);
  font-size: 15px;
}
body::after {
  z-index: -1;
  content: '';
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/bg-line2.png');
  opacity: 60%;
}
#intro {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr;
  gap: 20px;
  background-color: rgb(65, 32, 55);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
#intro-title {
  font-family: openSans;
  font-size: 1.5em;
}
#intro-title::selection {
  color: rgb(255, 255, 255);
  background: rgb(99, 71, 71);
}

#left-menu-items {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  li {
    font-family: rubik;
    background-color: rgb(7, 14, 3);
    box-sizing: 0px 0px 0px 0px red;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    // padding: 3px;
  }
  li:hover {
    transition: 300ms;
    user-select: none;
    background-color: rgb(124, 99, 99);
  }
  li:active {
    user-select: none;
    background-color: rgb(94, 74, 74);
  }
}

#intro-txt {
  font-family: openSansLigth;
  font-size: 1rem;
  padding: 10px;
  background: linear-gradient(
    0deg,
    rgba(158, 167, 170, 0.056) 85%,
    rgba(143, 150, 150, 0.192) 10%
  );
  color: rgba(255, 255, 255, 0.987);
  padding-right: 30px;
  border-left: 8px solid rgba(51, 8, 8, 0.44);
  min-width: 200px;
  max-width: 100%;
}

//       *****       Media queries       ******      //

/////////////max-width: 900px
@media (max-width: 900px) {
  #intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }
  #left-menu-items {
    flex-direction: row;
  }
  #name,
  #rol {
    font-size: 1.2em;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.981);
  }
  main {
    width: min-content;
    margin: 70px 0px 0px 0px;
  }
  #left-menu-items {
    li {
      height: 70%;
      width: 8.5em;
    }
  }
  #intro-txt {
    color: rgba(255, 0, 0, 0.987);
    background: linear-gradient(
      180deg,
      rgba(237, 28, 28, 0.159) 31%,
      rgba(175, 84, 84, 0.275) 10%
    );
  }
  #title {
    text-indent: 100px;
  }
}

/////////////max-width: 730px
@media (max-width: 730px) {
  body {
    overflow: hidden;
    background-color: rgb(63, 63, 63);
  }
  #left-menu-items {
    li {
      background-color: rgb(99, 124, 122);
      color: rgb(255, 255, 255);
      height: 70%;
      width: 7em;
    }
  }
  #intro-txt {
    color: rgba(0, 255, 149, 0.987);
    background: linear-gradient(
      180deg,
      rgba(237, 28, 28, 0.159) 31%,
      rgba(175, 84, 84, 0.275) 10%
    );
  }
  #name,
  #rol {
    font-size: 1em;
    text-indent: 50px;
  }
  #title {
    text-indent: 80px;
  }
}

/////////////max-width: 620px
@media (max-width: 620px) {
  body {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  #name,
  #rol {
    font-size: 0.9em;
    text-indent: 40px;
  }
}
