.bio-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
#title {
  display: flex;
  // justify-content: center;
  align-items: center;
  text-indent: 100px;
  width: 100%;
  height: 10vh;
  background-color: rgb(15, 9, 9);
}

#name {
  font-family: gothic;
  // font-size: 1.5em;
  color: #ffffff;
}
#name::selection {
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
}
#rol {
  font-family: gothic;
  font-size: 1.5em;

  color: #ffffff;
  margin: 0px;
  // text-indent: 140px;
}
#rol::selection {
  color: rgb(255, 0, 0);
  background: rgb(255, 255, 255);
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
  padding-top: 13px;
  padding-bottom: 15px;
  user-select: none;
  font-size: 1.2em;
}
