#cmd-screen {
  color: white;
  display: flex;
  transition: all 300ms;
  align-items: center;
  text-indent: 100px;
  width: 100%;
  height: 180px;
  background-color: rgb(15, 9, 9);
  font-family: gothic;
  user-select: none;
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  & > * {
    transition: 100ms;
  }
}
#hi {
  font-family: inherit;
}
#name {
  font-size: 1.5rem;
  &::selection {
    color: white;
    background: red;
  }
}
#rol {
  margin: 0px;
  &::selection {
    color: rgb(255, 0, 0);
    background: white;
  }
}
