@font-face {
  font-family: gothic;
  src: url(../fonts/DotGothic16-Regular.ttf);
}
@font-face {
  font-family: openSansLigth;
  src: url(../fonts/static/OpenSans/OpenSans-Light.ttf);
}
@font-face {
  font-family: openSans;
  src: url(../fonts/static/OpenSans/OpenSans-Medium.ttf);
}
@font-face {
  font-family: rubik;
  src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
  cursor: url('../cursors/cursor_arrow.png'), auto;
  &::selection {
    color: rgb(0, 0, 0);
    background: rgb(0, 243, 190);
  }
}
//root for higher specificity
:root {
  --just-white: rgb(255, 255, 255);
}
//Selecciona todos los atributos href con valor about.html
//con un after agregamos un icono/texto
a[target='_blank'] {
  color: darkblue;
}
a[target='_blank']::after {
  content: url(//imagen);
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
//Selecciona todas las clases que empiezan(|) con "link" y la
//palabra termina con un break "-"
a[class|='link'] {
  color: aqua;
}
//Igual que "|" pero selecciona valor del atributo "http" sin
//depender de un break
a[href^='http'] {
  color: aqua;
  //Selecciona todo lo que contenga la palabra "google"
  //sin principio o fin
}
a[class^='google'] {
  color: aqua;
}
//Selecciona todos los valores del atributo href
//que terminen con ".cl"
a[href$='.cl'] {
  color: black;
}

main {
  background-repeat: repeat;
  margin: auto;
  width: 850px;
  margin-top: 70px;
}
h1,
h2 {
  margin: 0px;
  font-weight: normal;
  font-size: inherit;
}
a {
  cursor: url(../cursors/hand/1x/outline_pan_tool_alt_white_48dp-2.png), auto;
  text-decoration: none;
  font-family: openSans;
  font-size: 1em;
  color: rgb(255, 255, 255);
  transition: 200ms;
  &:visited {
    color: rgb(255, 255, 255);
  }
  &:hover {
    color: rgb(255, 255, 255);
  }
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
/*                   Scroll                  */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-button :decrement {
  background: hsl(0, 0%, 73%);
}
::-webkit-scrollbar-track {
  background: rgb(53, 53, 53);
  background-image: url(../img/bg3.png);
}
::-webkit-scrollbar-thumb {
  background: rgba(143, 143, 143, 0.575);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(172, 172, 172, 0.836);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    letter-spacing: 10px;
    user-select: none;
    height: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.05);
  }
}
